Source: media-data-sdk
Section: misc
Priority: extra
Maintainer: Yong Yeon Kim <yy9875.kim@samsung.com>, Byungwook Jang <bw.jang@samsung.com> Haejeong Kim <backto.kim@samsung.com>, Hyunjun Ko<zzoon.ko@samsung.com>
Uploaders: Yong Yeon Kim <yy9875.kim@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.5

Package: media-data-sdk
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Media data. Image/Sounds/Videos and Others.

